<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Kids Maths" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kids Maths" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
        <div class="col-md-10 col-md-offset-1">
         <%= render 'layouts/messages' %>
         <%= yield %>
       </div>
      </main>
    </div>
  </body>
</html>
